<h2>Редактирование профиля</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :username %>
  <%= f.text_field :username, autofocus: true %></div>

  <div><%= f.label :about %>
  <%= f.text_area :about %></div>

  <div><%= f.label :email %>
  <%= f.email_field :email, autofocus: true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit "Сохранить", class: 'btn btn-primary' %></div>
<% end %>

<h3>Удаление аккаунта</h3>

<p><%= button_to "Удалить профиль", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete, class: 'btn btn-primary' %></p>

<%= link_to "Назад", :back %>
