<div>
  <h3>Профиль</h3>

  <p>Имя: <%= @user.username %></p>
  <p>О себе: 
    <% if @user.about.blank? %>
      <%= link_to 'Страница в VK', @user.url, target: '_blank' if @user.url %>
    <% else %>
      <%= @user.about %>
    <% end %>
  </p>
  <p>Зарегистрирован: <%= @user.created_at.strftime('%d/%m/%Y') %></p>
  <p>Последний раз заходил: <%= @user.last_sign_in_at.strftime('%d/%m/%Y') %> в <%= @user.last_sign_in_at.strftime('%H:%M:%S') %></p>

  <% if current_user == @user %>
    <p>
    <p><%= link_to 'Редактировать',edit_user_registration_path, class: 'btn btn-primary btn-small' %></p>
    <p><%= link_to 'Выйти', destroy_user_session_path, class: 'btn btn-danger btn-small', method: 'delete' %></p>
    </p>
  <% end %> 
<div>