<h2>Забыли пароль</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.submit "Прислать инструкцию для восстановления пароля", class: 'btn btn-primary' %></div>
<% end %>

<%= render "devise/shared/links" %>
