
<div class="jumbotron">
  <h2>Лента новостей</h2>

  <p>-здесь должен быть текст приветствия-</p>
  <p>
    <%= link_to 'Войти', new_user_session_path, class: 'btn btn-primary'%>
    <%= link_to 'Войти через VK', user_omniauth_authorize_path(:vkontakte), class: 'btn btn-primary'%>
  </p>
</div>
