<div>
  <% if @news_items.length > 0 %> 
    <div class='news'>
      <div class='row'>
        <div class="span8">
          <h3>Свежая новость</h3>
          <small><%= date_format(@news_items.last.created_at) %></small><br>
           <h4><%= link_to @news_items.last.title, news_item_path(@news_items.last.id) %></h4>
          <%= @news_items.last.text %> 
        </div>
        <div class="span4">
          <h3>Другие новости</h3>
          <% @news_items[0..-2].each do |news_item| %>
            <ul class="unstyled"
              <li><%= link_to news_item.title, news_item_path(news_item.id) %></li>
            </ul>
          <% end %>
        </div>
      </div>
    
    </div>
  <% else %>
    <h3>Пока новостей нет</h3>
  <% end %>
<div>