<div class='news'>
  <div class='row'>
    <div class="span2">
      <time><%= date_format(@news_item.created_at) %></time>
    </div>
    <div class="span6">
      <h4><%= @news_item.title %></h4>
    </div>
  </div>
  <div class="container">
    <%= @news_item.text %>   
  </div>      
</div>

<%= link_to('Редактировать', edit_news_item_path(@news_item.id)) + ' | '  if @news_item.user_id == current_user.id %> 
<%= link_to('Удалить', @news_item, data: { confirm: "Вы уверены?" }, method: :delete) + ' | '  if @news_item.user_id == current_user.id %>
<%= link_to 'Назад', news_items_path %>
