<!DOCTYPE html>
<html>
<head>
  <title>Newsfeed</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="row clearfix">
    <div class="col-md-12 column">

      <!--top-->
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">Новости</a>

            <ul class="nav pull-right">
              <% if user_signed_in? %>
                <li><%= link_to current_user.username, profile_path %></li>
                <li><%= link_to 'Создать новость', new_news_item_path %></li>
              <% else %>
                <li><%= link_to 'Войти', new_user_session_path %></li>
              <% end %>
            </ul>

          </div>
        </div>
      </div>

      <!--body-->
      <div class="container">
        <%= yield %>
      </div>

      <!--bottom-->
      <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
          <%= render partial: 'layouts/metrika' %>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
